@charset "utf-8";

nav {
    background-color: #17BEBB;
}

/* Navbar - #664233 (Original Color) */
/* Navbar - #029c80 (Mum's Suggestion) */ 
/* Navbar - #17BEBB (Coolors.com) */
/* Navbar Selected - #a6aba7 */
/* Navbar Hover - #1cff8d */
/* Accent - #FF8552 (Coolors.com) */

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

#introToCam{
    font-size: 20px;
}

.absolutecenter {
    margin: auto;
    position: absolute;
    left: 0; right: 0;
}

h2:after
{
    content:' ';
    display:block;
    border: 2px solid #FF8552;
    width: 20%;
}

a{
    color:#FF8552;
}

ul li:hover{
    text-decoration-color: #f7b99e;
}

#navButton:hover{
    color: #1cff8d;
}

#navButton{
    color: #ffffff;
}

