@charset "utf-8";

/* Navbar - #664233 (Original Color) */
/* Navbar - #029c80 (Mum's Suggestion) */ 
/* Navbar - #17BEBB (Coolors.com) */
/* Navbar Selected - #a6aba7 */
/* Navbar Hover - #1cff8d */
/* Accent - #FF8552 (Coolors.com) */

nav {
    background-color: #17BEBB;
}

#navButton{
    color: #ffffff;
}

#navButton:hover{
    color: #1cff8d;
}

/* Sets the Auto Margin Feature */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Sets font-size for <p> tags with ID "introToCam" */
#introToCam{
    font-size: 20px;
}

/* Sets Nav Options to Absolute Center */
.absolutecenter {
    margin: auto;
    position: absolute;
    left: 0; right: 0;
}


/* Media query to remove centering on small screens */
@media (max-width: 767px) {
    .absolutecenter {
        position: static;
        transform: none;
    }
}

/* Media query to remove centering on small screens */
@media (max-width: 768px) {
    #preSpacing{
        display: none;
    }
}

/* Sets Text Colour for Selected Nav Button */
#selectedButton{
    color: #c2cec4;
}

/* Sets Styling for id="subheading" */
#subheading{
    text-align: center;
    color: #3d3d3d
}

/* Sets Styling for Hyper Links */
a{
    color:#FF8552;
}

/* Sets Styling for Input Fields */
input.form-control{
    width: 100%;
    border-width: 1px;
    border-color: #1cff8d;
    margin-top: 5px
}

textarea.form-control{
    width: 100%;
    border-width: 1px;
    border-color: #1cff8d;
    align-items: center;
}

.btn-info{
    background: transparent;
    border-color: #1cff8d;
    align-items: center;
    width: 60%;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.btn-info:hover{
    transform: scale(1.02);
    background-color: #FF8552;
    color: #ffffff;
}

#honeypot{
    display: none;
}


#contactDiv{
    margin-top: 5px;
    text-align: center;
}

/* Creates "Butt" / Header Row */
#withButt:after
{
    content:' ';
    display:block;
    border: 2px solid #FF8552;
    width: 20%;
}





